$raleway: "Raleway", sans-serif;
$garamond: "Cormorant Garamond", serif;
* {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Cormorant Garamond", serif;
}
p,
button {
    font-family: $raleway;
    color: #4b4a4a;
}
body {
    background-color: rgb(248, 248, 248);
}

.heading-left {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(5, 1, 68, 0.11);
    padding: 1rem 0 1rem 0;
}

.heading-right {
    text-align: right;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(5, 1, 68, 0.11);
    padding: 1rem 0 1rem 0;
}

.hero-container {
    .hero-image-container {
        padding: 7.5vh 0 7.5vh 0;
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        img {
            height: 85vh;
            object-fit: cover;
            width: 100%;
        }
    }
    .hero-heading {
        display: grid;
        align-items: center;
        place-content: center;
        text-align: right;

        h1 {
            font-weight: 900;
            font-size: 3.3rem;
            letter-spacing: 3px;
            font-weight: 400;
        }
        h2 {
            padding: 2rem 0 2rem 0;
            font-weight: 100;
            font-size: 1.4rem;
        }
        .arrow {
            position: absolute;
            bottom: 5%;
            right: 7.5%;
            animation: float 3s ease-in-out infinite;
            background-color: transparent;
        }
    }
}
.hero-float {
    position: absolute;
    top: 2rem;
    left: 2rem;
    writing-mode: vertical-lr;
    font-size: 1.5rem;
}

.about-container {
    width: 85%;
    margin: auto;
    .about-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        margin-top: 2rem;
        div:nth-child(1) {
            padding: 2.5rem;
        }
        div:nth-child(2) {
            display: block;
        }
        div {
            background-color: white;
            display: grid;
            place-content: center;
            h2 {
                padding-bottom: 2rem;
                background-color: white;
            }
            p {
                font-size: 1.05rem;
                background-color: white;
            }
        }
        img {
            display: block;
            height: 600px;
            width: 100%;
            object-fit: cover;
        }
    }
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
    gap: 1rem;

    .service-card {
        padding: 3.25rem;
        display: block;
        text-align: center;
    }
    p {
        text-align: left;
    }
    h2 {
        padding: 1rem 0 1rem 0;
    }

    div,
    p,
    img,
    h2 {
        background-color: white;
    }
}
.projects-container {
    position: relative;
    .project-header {
        img {
            margin-top: 4rem;
            height: 600px;
            object-fit: cover;
            width: 100%;
            filter: brightness(80%);
            display: block;
        }
    }
    .centered {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    span {
        font-size: 2rem;
    }
}

.project-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 4rem auto auto auto;
    .project-number {
        position: absolute;
        left: 10%;
        padding: 2rem;
        border-bottom: 1px solid #c0aa91;
    }
    div:nth-child(1) {
        display: grid;
        place-content: center;
        text-align: center;
        background-color: white;
        height: 100%;
    }
    .project-grid-img {
        width: 100%;
        display: block;
        transition: 0.4s all ease-in-out;
    }
    .project-grid-img:hover {
        filter: brightness(110%);
    }
    .project-tagline {
        display: block;
        margin-top: 2rem;
    }
    .project-details {
        margin-top: 2rem;
        background-color: #444444;
        color: white;
        width: 250px;
        margin: 1rem auto 0 auto;
        padding: 0.5rem;
        text-transform: uppercase;
        border-color: #444444;
        border-radius: 5px;
        cursor: pointer;

        transition: all 0.4s ease-in-out;
    }
    .project-details:hover {
        background-color: #c0aa91;
        border-color: #c0aa91;
    }
}

.contact-container {
    margin-top: 4rem;
    background-color: #0c1820;
    color: white;
    padding: 4rem;
    .contact-form {
        width: 80%;
        margin: auto;
        button {
            margin-top: 2rem;
            background-color: white;
            color: black;
            padding: 1rem;
            border-color: black;
            font-size: 1.2rem;
            cursor: pointer;
            transition: 0.4s all ease-in-out;
        }
        button:hover {
            background-color: #c0aa91;
            color: white;
        }
        .address {
            margin-top: 2rem;
            display: flex;

            gap: 2rem;
        }
        p {
            color: white;
        }
    }
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-27px);
    }
    100% {
        transform: translatey(0px);
    }
}

@media screen and (max-width: 1024px) {
    .hero-container {
        .hero-heading {
            h1 {
                font-size: 2.25rem;
            }
            h2 {
                font-size: 1.2rem;
            }
        }
    }
    .about-container {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .hero-float {
        color: white;
        font-size: 1rem;
        writing-mode: horizontal-tb;
    }
    .heading-left {
        padding: 1rem;
    }

    .heading-right {
        padding: 1rem;
    }
    .hero-container {
        .hero-image-container {
            display: block;
        }
        img:nth-child(1) {
            display: none;
        }
        .hero-heading {
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px black;
            font-size: 3rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
                font-size: 2rem;
                font-weight: 600;
            }
            h2 {
                font-size: 1.2rem;
            }
            .arrow {
                display: none;
            }
        }
    }
    .about-container {
        width: 100%;
        .about-card {
            grid-template-columns: auto;
            div:nth-child(1) {
                padding: 2rem;
            }
            img {
                height: 400px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .services-grid {
        width: 90%;
        margin: 2rem auto auto auto;
        grid-template-columns: auto;
    }
    .project-card {
        grid-template-columns: auto;
        width: 100%;
        .project-number {
            display: none;
        }
        div:nth-child(1) {
            padding: 2rem;
        }
        .project-details {
            margin: 2rem auto 2rem auto;
        }
    }
    .contact-container {
        .contact-form {
            width: 100%;
            .address {
                display: block;
                div {
                    padding: 1rem 0 1rem 0;
                }
            }
        }
    }
}
